In [319]:
import csv
import numpy as np
import matplotlib.pyplot as plt  
import pandas as pd


with open('/Users/alexandrubujor/Public/Facultate/gitHub-Portofolio/test.asc', newline='',encoding ='windows-1257') as csvfile:
        data = csv.reader(csvfile, delimiter=',')
        columns=['Numar','Distanta','Curent']
        df = pd.DataFrame(csv.reader(csvfile,delimiter=','),columns=columns)

In [320]:
df

        Numar           Distanta             Curent
0                           None               None
1           0    0.000000000000                 NAN
2           1    45.00000000000n                NAN
3           2    90.00000000000n                NAN
4           3    135.0000000000n                NAN
...       ...                ...                ...
997       996    44.82000000000µ    830.0787279758p
998       997    44.86500000000µ    808.7164271586p
999       998    44.91000000000µ    817.8717147977p
1000      999    44.95500000000µ    817.8717147977p
1001     1000    45.00000000000µ    817.8717147977p

[1002 rows x 3 columns]